<!doctype html>
<html lang="en" ng-app="application">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AuxGate</title>

    <!-- css -->
    <link href="assets/css/app.css" rel="stylesheet" type="text/css">
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css">
    <link href="assets/css/custom.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- js libraries -->
    <script src="assets/js/foundation.js"></script>
    <script src="assets/js/templates.js"></script>
    <script src="node_modules/foundation-apps/js/angular/services/foundation.core.js"></script>
    <script src="/js/app.js"></script>

    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:600' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="grid-frame vertical">
      <div class="grid-content shrink" style="padding: 0;">
        <ul class="primary condense menu-bar">
          <li>
            <a id="auxLogo" ui-sref="home">
              <img src="assets/img/auxgate_med.png"/><strong>AuxGate</strong>
            </a>
          </li>
        </ul>
      </div>
      <div ui-view class="bigContentContainer grid-content">
      </div>
    </div>
  </body>
</html>