<div class="addSongOverlay grid-block vertical large-12 small-12">

	<div class="grid-block" style="padding: 0 15px 0 15px;">
		<div class="grid-block small-11" style="overflow-y: hidden; ">
			<h1>{{name}}</h1>
		</div>
		<div class="grid-block small-1" style="overflow-y: hidden; float: right;">
          	<i zf-close="" class="fa fa-times fa-2x" ></i>
		</div>
	</div>

	<div class="grid-block search" style="padding: 10px 15px 10px 15px;">
		<form>
			<span class="inline-label">
				<div class="grid-block small-10">
					<input class="searchSong" type="search" size="50%" placeholder="Search for a song..." ng-model="query">
				</div>
				<a ng-click="searchSong(query, searchedSongs)" class="button">
					<i class="fa fa-search"></i>
				</a>
			</span>
		</form>
	</div>
	<div class="grid-block vertical" >
		<div class="grid-block rowHeadings" ng-class="{'visible':searchedSongs[0] != undefined}" style="padding-bottom: 18px">
		    <div class="grid-content medium-2 small-2" style="text-align:center;">
		    	&nbsp;
		    </div>
		    <div class="grid-content medium-5 small-5" style="height: 15px;">
		      Song Name
		    </div>
		    <div class="grid-content medium-5 small-5" style="height: 15px;">
		      Artist Name
		    </div>
		</div>
		<div class="grid-block vertical" style="overflow-y: auto; max-height:70vh">
			<div class="grid-block" ng-repeat="song in searchedSongs | orderBy: '-votes' track by $index" style="overflow-y: hidden; overflow-x: hidden; min-height:50px">
		        <div class="grid-block medium-2 small-2"style="overflow-y: hidden; overflow-x: hidden">
		        	<div class="grid-content" style="overflow-y: hidden; overflow-x: hidden">
		            	<i ng-click="addSong(song)" class="fa fa-plus fa-2x"></i>
		          	</div>
		        </div>
		        <div class="grid-block medium-5 small-5" style="overflow-y: hidden; overflow-x: hidden">
		        	<div class="grid-content" style="overflow-y: hidden; overflow-x: hidden">
		          		{{song.name}}
		        	</div>
		        </div>
		        <div class="grid-block medium-5 small-5" style="overflow-y: hidden; overflow-x: hidden">
		        	<div class="grid-content" style="overflow-y: hidden; overflow-x: hidden">
			        	<div ng-repeat="artist in song.artists track by $index"> 
			        		{{artist.name}}
			    		</div> 
		        	</div>
		        </div>
			</div>
		</div>
	</div>
</div>
