
<div class="grid-container">
  <h1>{{eventService.playlistId}}</h1>
  <p class="lead"><strong>{{Description}}</strong>.</p>

  <div class="grid-block" style="background-color:#D3D3D3">
      <div class="grid-block vertical large-2 small-2" style="align:center">
      </div>
        <div class="grid-content large-4 small-4" style="padding-top: 13px">
          Song Name
        </div>
        <div class="grid-content large-5 small-5" style="padding-top: 13px">
        Artist Name
        </div>
        <div class="grid-content large-1 small-1" style="padding-top: 13px">
           <a><img zf-iconic="" icon="action" size="medium" ng-click="addModal()"></a>
        </div>
      </div>
 <div class="grid-block vertical" style="background-color:#D3D3D3">
  <div class="grid-block" ng-repeat="song in playlist.songs | orderBy: '-votes' track by $index">
      <div class="grid-block vertical large-2 small-2" style="align:center">
        <div class="grid-block" ><div class="grid-content" style="text-align:center; padding-top: 5px" >
           <a><img zf-iconic="" icon="chevron" icon-attrs="{ direction: 'top' }" size="small"></a>
         </div>
          </div>
          <div class="grid-block"><div class="grid-content" style="text-align:center">
            {{song.votes}}
          </div>
        </div>
          <div class="grid-block" ><div class="grid-content" style="text-align:center; padding-bottom: 5px">
            <a><img zf-iconic="" icon="chevron" icon-attrs="{ direction: 'bottom' }" size="small"></a>
          </div>
        </div>
      </div>
        <div class="grid-content large-4 small-4" style="padding-top: 13px">
          {{song.name}}
        </div>
        <div class="grid-content large-6 small-6" style="padding-top: 13px">
        {{song.artist}}
        </div>
      </div>
    </div>
</div>
