<div class="grid-container homeContainer">

	<div class="grid-block vertical" style="text-align: center;">
	  	<div class="grid-content">
			<img class="logoCircle" style="width: 250px; height: 250px; margin: 0 auto 0 auto;" src="./assets/img/auxgate_med.png"/>
			<h1 style="margin: 0 auto 0 auto;">{{title}}</h1>
		</div>
		<div class="grid-content" style="padding-top: 15px;">
			<p style="margin: 0 auto 0 auto; font-size: 24px; font-style: italic;">{{slogan}}</p>
		</div>
		<div class="grid-content" style="padding-top: 15px;">
			<p style="margin: 0 auto 0 auto; font-size: 18px;">{{Description}}</p>
		</div>
		<div class="grid-content" style="padding-top: 15px;">
			<a href="./auth/login">
	  		<img src="public/images/Login/png/log_in-desktop-large.png"/></a>
	 	</div>
		<div class="grid-content" style="padding-top: 30px;">
        	<a class="button" ng-click="addModal()">Create an Aux playlist</a>
		</div>

 	</div>
 
 	<!--
	<form ng-submit="startEvent(event)" style="margin-top: 30vh;">
		<label>
			Name
			<input type="text" placeholder="Text field" ng-model="event.Name">
		</label>
		<label>
			Description
			<textarea rows="5" ng-model="event.Description"></textarea>
		</label>
		{{event}}
		<input type=submit class="button" ui-sref="event"></input>
	</form>
	-->
</div>