

​

<div class="grid-container">
	<div style="text-align: center">
		<img class="logoCircle" style="width: 250px; height: 250px; margin: 0 auto 0 auto;" src="./assets/img/auxgate_med.png"/>
	</div>
  <h1>{{title}}</h1>

  <p class="lead"><strong>{{Description}}</strong>.</p>

	<form ng-submit="startEvent(a)">

			<input type="text" required="required" placeholder="Event Name" ng-model="a.Name">



			<textarea rows="5" placeholder="Description" ng-model="a.Description"></textarea>


		<input type=submit class="button" ui-sref="event" ng-click="startEvent(a)"></input>

	</form>

</div>

